### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [1]:
import pandas as pd

In [15]:
data = pd.read_csv(r'C:\Users\Lenovo\Documents\Арх-разр\5 Numpy, Pandas\02 Pandas\power.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [22]:
data[ ((data.country == 'Latvia') | (data.country == 'Lithuania') |
       (data.country == 'Estonia')) 
    & ((data.category == 4) | (data.category == 12) |
       (data.category == 21))
    & ((2005 <= data.year) & (data.year <= 2021))
    & (data.quantity > 0)].quantity.sum()

408195.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [16]:
data = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='UTF8', attrs = {'class': 'header_user_pricebox'}
                   #, header = 1
                   )
print(data)

[     0       1      2        3       4      5        6       7     8   \
0  ММВБ   2 470   0,0%   Nasdaq  12 796  -0,3%  Биткойн  41 287  6,6%
1   РТС     937   0,0%   S&P500   4 171  -0,7%    Нефть    1314  1,5%
2   Dow  32 633  -0,6%  FTSE100   6 964   0,1%   Золото   2 056  0,3%

        9        10     11
0  USD/RUB  1300000   0,0%
1  EUR/RUB  1418005  14,2%
2  EUR/USD    10907   0,0%  ]

In [12]:
pd.read_html?